﻿{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="overlape">
	<div class="block no-padding">
		<div data-velocity="-.1" style="background: url({% static 'images/resource/slider1.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
		<div class="container fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner-header wform">
						<div class="job-search-sec">
	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block no-padding  gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner2">
						<div class="inner-title2">
							<h3>Register</h3>
							<span>Keep up to date with the latest news</span>
						</div>
						<div class="page-breacrumbs">
							<ul class="breadcrumbs">
								<li><a href="#" title="">Home</a></li>
								<li><a href="#" title="">Pages</a></li>
								<li><a href="#" title="">Register</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block remove-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="account-popup-area signup-popup-box static">
						<div class="account-popup">
							<h3>Sign Up</h3>
							<span>Lorem ipsum dolor sit amet consectetur adipiscing elit odio duis risus at lobortis ullamcorper</span>
							<div class="select-user">
								<span>Candidate</span>
								<span>Employer</span>
							</div>
							<form method="POST">
								{% csrf_token %}
								<div class="cfield">
									<input name="first_name" type="text" placeholder="First Name" />
									<i class="la la-user"></i>
								</div>
								<div class="cfield">
									<input name="last_name" type="text" placeholder="Last Name" />
									<i class="la la-user"></i>
								</div>
								<div class="cfield">
									<input name="username" type="text" placeholder="Username" />
									<i class="la la-user"></i>
								</div>
								<div class="cfield">
									<input name="password1" type="password" placeholder="********" />
									<i class="la la-key"></i>
								</div>
								<div class="cfield">
									<input name="email" type="text" placeholder="Email" />
									<i class="la la-envelope-o"></i>
								</div>
								<div class="cfield">
									<input name="zipcode" type="text" placeholder="Zip Code" />
									<i class="la la-map-marker"></i>
								</div>
								<div class="cfield">
									<input type="text" placeholder="Phone Number" />
									<i class="la la-phone"></i>
								</div>
								<button type="submit">Signup</button>
							</form>
							<div class="extra-login">
								<span>Or</span>
								<div class="login-social">
									<a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
									<a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
					</div><!-- SIGNUP POPUP -->
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}