{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="overlape">
        <div class="block no-padding">
            <div data-velocity="-.1" style="background: url({% static 'images/resource/slider1.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
            <div class="container fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner-header wform">
                            <div class="job-search-sec">
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <div class="block no-padding  gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner2">
                        <div class="inner-title2">
                            <h3>Login</h3>
                            <span>Keep up to date with the latest news</span>
                        </div>
                        <div class="page-breacrumbs">
                            <ul class="breadcrumbs">
                                <li><a href="#" title="">Home</a></li>
                                <li><a href="#" title="">Pages</a></li>
                                <li><a href="#" title="">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signin-popup-box static">
                        <div class="account-popup">
                            <span>Lorem ipsum dolor sit amet consectetur adipiscing elit odio duis risus at lobortis ullamcorper</span>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="cfield">
                                    <input name="username" type="text" placeholder="Username">
                                    <i class="la la-user"></i>
                                </div>
                                <div class="cfield">
                                    <input name="password" type="password" placeholder="********">
                                    <i class="la la-key"></i>
                                </div>
                                <p class="remember-label">
                                    <input type="checkbox" name="cb" id="cb1"><label for="cb1">Remember me</label>
                                </p>
                                <a href="#" title="">Forgot Password?</a>
                                <button type="submit">Login</button>
                            </form>
                            <div class="extra-login">
                                <span>Or</span>
                                <div class="login-social">
                                    <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                                    <a class="tw-login" href="#" title=""><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}