<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	{% load static %}
	{% load thumbnail %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/chosen.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
	<div class="responsive-header">
		<div class="responsive-menubar">
			<div class="res-logo"><a href="/" title=""><img src="{% static 'images/resource/logo.png' %}" alt="" /></a></div>
			<div class="menu-resaction">
				<div class="res-openmenu">
					<img src="{% static 'images/icon.png' %}" alt="" /> Menu
				</div>
				<div class="res-closemenu">
					<img src="{% static 'images/icon2.png' %}" alt="" /> Close
				</div>
			</div>
		</div>
		<div class="responsive-opensec">
			{% if not user.is_authenticated %}
			<div class="btn-extars">
				<a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
				<ul class="account-btns">
					<li class="signup-popup"><a href="/register" title=""><i class="la la-key"></i> Sign Up</a></li>
					<li class="signin-popup"><a href="/login" title=""><i class="la la-external-link-square"></i> Login</a></li>
				</ul>
			</div>
			{% else %}
				<div class="my-profiles-sec">
					<span>
						{% thumbnail user.userprofile.avatar "50x50" corp="centre" format="PNG" as im %} <img src="{{ im.url }}"> {% endthumbnail %} {{request.user.first_name|capfirst}}<i class="la la-bars"></i>
					</span>
				</div>
			{% endif %}
			<form class="res-search">
				<input name="keywords" type="text" placeholder="Job title, keywords or company name" />
				<button type="submit"><i class="la la-search"></i></button>
			</form>
			<div class="responsivemenu">
				<ul>
						<li class="menu-item-has-children">
							<a href="#" title="">Home</a>
							<ul>
								<li><a href="index.html" title="">Home Layout 1</a></li>
								<li><a href="index2.html" title="">Home Layout 2</a></li>
								<li><a href="index3.html" title="">Home Layout 3</a></li>
								<li><a href="index4.html" title="">Home Layout 4</a></li>
								<li><a href="index5.html" title="">Home Layout 5</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Employers</a>
							<ul>
								<li><a href="" title=""> Employer List 1</a></li>
								<li><a href="" title="">Employer List 2</a></li>
								<li><a href="" title="">Employer List 3</a></li>
								<li><a href="" title="">Employer List 4</a></li>
								<li><a href="" title="">Employer Single 1</a></li>
								<li><a href="" title="">Employer Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Employer Dashboard</a>
									<ul>
										<li><a href="employer_manage_jobs.html" title="">Employer Job Manager</a></li>
										<li><a href="employer_packages.html" title="">Employer Packages</a></li>
										<li><a href="employer_post_new.html" title="">Employer Post New</a></li>
										<li><a href="employer_profile.html" title="">Employer Profile</a></li>
										<li><a href="employer_resume.html" title="">Employer Resume</a></li>
										<li><a href="employer_transactions.html" title="">Employer Transaction</a></li>
										<li><a href="employer_job_alert.html" title="">Employer Job Alert</a></li>
										<li><a href="employer_change_password.html" title="">Employer Change Password</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Candidates</a>
							<ul>
								<li><a href="candidates_list.html" title="">Candidates List 1</a></li>
								<li><a href="candidates_list2.html" title="">Candidates List 2</a></li>
								<li><a href="candidates_list3.html" title="">Candidates List 3</a></li>
								<li><a href="candidates_single.html" title="">Candidates Single 1</a></li>
								<li><a href="candidates_single2.html" title="">Candidates Single 2</a></li>
								<li class="menu-item-has-children">
									<a href="#" title="">Candidates Dashboard</a>
									<ul>
										<li><a href="candidates_my_resume.html" title="">Candidates Resume</a></li>
										<li><a href="candidates_my_resume_add_new.html" title="">Candidates Resume new</a></li>
										<li><a href="candidates_profile.html" title="">Candidates Profile</a></li>
										<li><a href="candidates_shortlist.html" title="">Candidates Shortlist</a></li>
										<li><a href="candidates_job_alert.html" title="">Candidates Job Alert</a></li>
										<li><a href="candidates_dashboard.html" title="">Candidates Dashboard</a></li>
										<li><a href="candidates_cv_cover_letter.html" title="">CV Cover Letter</a></li>
										<li><a href="candidates_change_password.html" title="">Change Password</a></li>
										<li><a href="candidates_applied_jobs.html" title="">Candidates Applied Jobs</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Blog</a>
							<ul>
								<li><a href="blog_list.html"> Blog List 1</a></li>
								<li><a href="blog_list2.html">Blog List 2</a></li>
								<li><a href="blog_list3.html">Blog List 3</a></li>
								<li><a href="blog_single.html">Blog Single</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Job</a>
							<ul>
								<li><a href="job_list_classic.html">Job List Classic</a></li>
								<li><a href="job_list_grid.html">Job List Grid</a></li>
								<li><a href="job_list_modern.html">Job List Modern</a></li>
								<li><a href="job_single1.html">Job Single 1</a></li>
								<li><a href="job_single2.html">Job Single 2</a></li>
								<li><a href="job-single3.html">Job Single 3</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#" title="">Pages</a>
							<ul>
								<li><a href="about.html" title="">About Us</a></li>
								<li><a href="404.html" title="">404 Error</a></li>
								<li><a href="contact.html" title="">Contact Us 1</a></li>
								<li><a href="contact2.html" title="">Contact Us 2</a></li>
								<li><a href="faq.html" title="">FAQ's</a></li>
								<li><a href="how_it_works.html" title="">How it works</a></li>
								<li><a href="login.html" title="">Login</a></li>
								<li><a href="pricing.html" title="">Pricing Plans</a></li>
								<li><a href="register.html" title="">Register</a></li>
								<li><a href="terms_and_condition.html" title="">Terms & Condition</a></li>
							</ul>
						</li>
					</ul>
			</div>
		</div>
	</div>
	<div class="theme-layout" id="scrollup">
		<header class="stick-top forsticky ">
			<div class="menu-sec">
				<div class="container">
					<div class="logo">
						<a href="/" title=""><img class="hidesticky" src="{% static 'images/resource/logo.png' %}" alt=""><img class="showsticky" src="{% static 'images/resource/logo10.png' %}" alt=""></a>
					</div>
					{% if not user.is_authenticated %}
					<div class="btn-extars">
						<a href="#" title="" class="post-job-btn"><i class="la la-plus"></i>Post Jobs</a>
						<ul class="account-btns">
							<li class="signup-popup"><a title=""><i class="la la-key"></i> Sign Up</a></li>
							<li class="signin-popup"><a title=""><i class="la la-external-link-square"></i> Login</a></li>
						</ul>
					</div>
					{% else %}
					<div class="btns-profiles-sec">
					<span>
						{% if user.userprofile.avatar.url is null %}
						{% thumbnail user.userprofile.avatar "50x50" corp="centre" format="PNG" as im %} 
						<img src="{{ im }}"> 
						{% endthumbnail %} 
						{% else %}
						{% thumbnail user.userprofile.avatar "50x50" corp="centre" format="PNG" as im %} 
						<img src="{{ im.url }}"> 
						{% endthumbnail %}
						{% endif %}
						{{user.first_name}} {{user.last_name}} 
						<i class="la la-angle-down"></i>
					</span>
					<ul style="display: none;">
						<li><a href="#" title=""><i class="la la-briefcase"></i> Manage Jobs</a></li>
						<li><a href="/resumes" title=""><i class="la la-magnet"></i> Resumes</a></li>
						<li><a href="#" title=""><i class="la la-phone"></i> Job Alerts</a></li>
						<li><a href="#" title=""><i class="la la-key"></i> Change Password</a></li>
						<li><a href="/logout" title=""><i class="la la-history"></i> Logout</a></li>
					</ul>
				</div>
					{% endif %}
					<nav>
						<ul>
							<li class="menu-item">
								<a href="/" title="">Home</a>
							</li>
							<li class="menu-item">
								<a href="/resumes" title="">Resumes</a>
							</li>
							<li class="menu-item">
								<a href="/jobs-?keywords=&location=" title="">Browse Jobs</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#" title="">Blog</a>
								<ul>
									<li><a href="blog_list.html"> Blog List 1</a></li>
									<li><a href="blog_list2.html">Blog List 2</a></li>
									<li><a href="blog_list3.html">Blog List 3</a></li>
									<li><a href="blog_single.html">Blog Single</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="#" title="">Job</a>
								<ul>
									<li><a href="job_list_classic.html">Job List Classic</a></li>
									<li><a href="job_list_grid.html">Job List Grid</a></li>
									<li><a href="job_list_modern.html">Job List Modern</a></li>
									<li><a href="job_single1.html">Job Single 1</a></li>
									<li><a href="job_single2.html">Job Single 2</a></li>
									<li><a href="job-single3.html">Job Single 3</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children">
								<a href="#" title="">Pages</a>
								<ul>
									<li><a href="about.html" title="">About Us</a></li>
									<li><a href="404.html" title="">404 Error</a></li>
									<li><a href="contact.html" title="">Contact Us 1</a></li>
									<li><a href="contact2.html" title="">Contact Us 2</a></li>
									<li><a href="faq.html" title="">FAQ's</a></li>
									<li><a href="how_it_works.html" title="">How it works</a></li>
									<li><a href="login.html" title="">Login</a></li>
									<li><a href="pricing.html" title="">Pricing Plans</a></li>
									<li><a href="register.html" title="">Register</a></li>
									<li><a href="terms_and_condition.html" title="">Terms &amp; Condition</a></li>
								</ul>
							</li>
						</ul>
					</nav><!-- Menus -->
				</div>
			</div>
		</header>
    	{% block content %}
		{% endblock %}
		<footer>
			<div class="block">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 column">
							<div class="widget">
								<div class="about_widget">
									<div class="logo">
										<a href="index.html" title=""><img src="http://grandetest.com/theme/jobhunt-html/images/resource/logo.png" alt=""></a>
									</div>
									<span>Collin Street West, Victor 8007, Australia.</span>
									<span>+1 246-345-0695</span>
									<span>info@jobhunt.com</span>
									<div class="social">
										<a href="#" title=""><i class="fab fa-facebook-f"></i></a>
										<a href="#" title=""><i class="fab fa-twitter"></i></a>
										<a href="#" title=""><i class="fab fa-linkedin-in"></i></a>
										<a href="#" title=""><i class="fab fa-pinterest-p"></i></a>
										<a href="#" title=""><i class="fab fa-behance"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 column">
							<div class="widget">
								<h3 class="footer-title">Frequently Asked Questions</h3>
								<div class="link_widgets">
									<div class="row">
										<div class="col-lg-6">
											<a href="#" title="">Privacy &amp; Seurty </a>
											<a href="#" title="">Terms of Serice</a>
											<a href="#" title="">Communications </a>
											<a href="#" title="">Referral Terms </a>
											<a href="#" title="">Lending Licnses </a>
											<a href="#" title="">Disclaimers </a>	
										</div>
										<div class="col-lg-6">
											<a href="#" title="">Support </a>
											<a href="/how-it-works" title="how-it-works">How It Works </a>
											<a href="#" title="">For Employers </a>
											<a href="#" title="">Underwriting </a>
											<a href="#" title="">Contact Us</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 column">
							<div class="widget">
								<h3 class="footer-title">Find Jobs</h3>
								<div class="link_widgets">
									<div class="row">
										<div class="col-lg-12">
											<a href="#" title="">US Jobs</a>	
											<a href="#" title="">Canada Jobs</a>	
											<a href="#" title="">UK Jobs</a>	
											<a href="#" title="">Emplois en Fnce</a>	
											<a href="#" title="">Jobs in Deuts</a>	
											<a href="#" title="">Vacatures China</a>	
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 column">
							<div class="widget">
								<div class="download_widget">
									<a href="#" title=""><img src="images/resource/dw1.png" alt=""></a>
									<a href="#" title=""><img src="images/resource/dw2.png" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-line">
				<span>© 2018 Jobhunt All rights reserved. Design by Creative Layers</span>
				<a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
			</div>
		</footer>
	</div>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/select-chosen.js' %}"></script>
</body>
</html>