{% extends 'base.html' %}
{% block content %}
{% load marktags %}
{% load static %}
<section>
	<div class="block no-padding">
		<div class="container fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-featured-sec">
						<ul class="main-slider-sec text-arrows">
							<li class="slideHome"><img src="{% static 'images/resource/slider1.jpg' %}" alt="" /></li>
							<li class="slideHome"><img src="{% static 'images/resource/slider2.jpg' %}" alt="" /></li>
							<li class="slideHome"><img src="{% static 'images/resource/slider3.jpg' %}" alt="" /></li>
						</ul>
						<div class="job-search-sec">
							<div class="job-search">
								<h3>The Easiest Way to Get Your New Job</h3>
								<span>Find Jobs, Employment & Career Opportunities</span>
								<form action="jobs-" method="GET">
									<div class="row">
										<div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">
											<div class="job-field">
												<input type="text" placeholder="Job title, keywords or company name" name="keywords" />
												<i class="la la-keyboard-o"></i>
											</div>
										</div>
										<div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
											<div class="job-field">
												<input type="text" placeholder="City, province or region" name="location" />
												<i class="la la-map-marker"></i>
											</div>
										</div>
										<div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
											<button type="submit"><i class="la la-search"></i></button>
										</div>
									</div>
								</form>
								<div class="or-browser">
									<span>Browse job offers by</span>
									<a href="#" title="">Category</a>
								</div>
							</div>
						</div>
						<div class="scroll-to">
							<a href="#scroll-here" title=""><i class="la la-arrow-down"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block double-gap-top double-gap-bottom">
		<div data-velocity="-.1" style="background: url(&quot;images/resource/parallax1.jpg&quot;) 50% -56px repeat scroll transparent;" class="parallax scrolly-invisible layer color"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="simple-text-block">
						<h3>Make a Difference with Your Online Resume!</h3>
						<span>Your resume in minutes with JobHunt resume assistant is ready!</span>
						<a href="#" title="">Create an Account</a>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>
<section>
	<div class="block no-padding">
		<div class="container fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="simple-text">
						<h3>Gat a question?</h3>
						<span>We're here to help. Check out our FAQs, send us an email or call us at 1 (800) 555-5555</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}