{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load thumbnail %}
<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url({{jobs.company.logo.url}}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h3>{{jobs.title|capfirst}}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<section>
		<div class="block">
			<div class="container">
				<div class="row">
				 	<div class="col-lg-8 column">
				 		<div class="job-single-sec">
				 			<div class="job-single-head2">
				 				<div class="job-title2"><h3>{{jobs.title}}</h3><span class="job-is ft">{{jobs.job_type}}</span><i class="la la-heart-o"></i></div>
				 				<ul class="tags-jobs">
				 					<li><i class="la la-map-marker"></i>{{jobs.office.company.city}}</li>
				 					<li><i class="la la-money"></i> Monthly Salary : <span>{{jobs.salery}}</span></li>
				 					<li><i class="la la-calendar-o"></i> Post Date: {{jobs.created|date:"F d Y"}} </li>
				 				</ul>
				 				<span><strong>Roles</strong> : 
				 					Coming Soon
				 				</span>
				 			</div>
				 			<div class="job-details">
				 				<h3>Job Description</h3>
				 				{{jobs.Description|safe|linebreaks}}
				 			</div>	
				 			<div class="share-bar">
				 				<span>Share</span><a href="#" title="" class="share-fb"><i class="fa fa-facebook"></i></a><a href="#" title="" class="share-twitter"><i class="fa fa-twitter"></i></a>
				 			</div>
				 		</div>
				 	</div>
				 	<div class="col-lg-4 column">
				 		<div class="job-single-head style2">
			 				<div class="job-thumb">
			 					{% thumbnail jobs.office.company.logo "124x124" crop="center" as im %}
			 					<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
								{% endthumbnail %}
							</div>
			 				<div class="job-head-info">
			 					<h4>{{jobs.office.company.title|capfirst}}</h4>
			 					<span>{{jobs.office.city}}</span>
			 					<p><i class="la la-unlink"></i>{{jobs.office.company.website}}</p>
			 					<p><i class="la la-phone"></i> +90 538 963 54 87</p>
			 					<p><i class="la la-envelope-o"></i>{{jobs.office.company.email}}</p>
			 				</div>
			 				<a href="#" title="" class="apply-job-btn"><i class="la la-paper-plane"></i>Apply for job</a>
			 				<a href="/jobs/company/{{jobs.office.company.slug}}" title="" class="viewall-jobs">View all Jobs</a>
			 			</div>
				 	</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}