{% extends 'base.html' %}
{% block content %}
{% load thumbnail %}
{% load static %}
<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1" style="background: url({% static 'images/resource/slider1.jpg' %}) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div>
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header wform">
							<div class="job-search-sec">
								<div class="job-search">
									<h4>Explore Thousand Of Jobs With Just Simple Search...</h4>
									<form method="GET" action="jobs-">
										<div class="row">
											<div class="col-lg-7">
												<div class="job-field">
													<input value="{{query}}" name="keywords" type="text" placeholder="Job title, keywords or company name" />
													<i class="la la-keyboard-o"></i>
												</div>
											</div>
											<div class="col-lg-4">
												<div class="job-field">
													<input value="{{location}}" type="text" placeholder="City, province or region" name="location" />
													<i class="la la-map-marker"></i>
												</div>
											</div>
											<div class="col-lg-1">
												<button type="submit"><i class="la la-search"></i></button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<section>
		<div class="block">
			<div class="container">
				 <div class="row">
				 	<div class="col-lg-12">
				 		<span class="emlthis"><a href="mailto:example.com" title=""><i class="la la-envelope-o"></i> Email me Jobs Like These</a></span>
				 		<div class="filterbar">
				 			<h5>{{items.count}} Jobs &amp; Vacancies</h5>
				 			<div class="sortby-sec">
				 				<span>Sort by</span>
				 				<select data-placeholder="Most Recent" class="chosen" style="display: none;">
									<option>Most Recent</option>
									<option>Most Recent</option>
									<option>Most Recent</option>
									<option>Most Recent</option>
								</select>
								<select data-placeholder="20 Per Page" class="chosen" style="display: none;">
									<option>30 Per Page</option>
									<option>40 Per Page</option>
									<option>50 Per Page</option>
									<option>60 Per Page</option>
								</select>
				 			</div>
				 		</div>
				 		<div class="job-grid-sec">
							<div class="row">
								{% for i in items %}
								<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
									<div class="job-grid border">
										<div class="job-title-sec">
											<div class="c-logo"> {% thumbnail i.office.company.logo "235x115" corp="centre" format="PNG" as im %} <center><img src="{{ im.url }}"></center> {% endthumbnail %} </div>
											<h3><a href="/jobs/{{i.slug}}" title="">{{i.office.title}}</a></h3>
											<span>{{i.office.company.title}}</span>
											<span class="fav-job"><i class="la la-heart-o"></i></span>
										</div>
										<span class="job-lctn">{{i.office.company.city}}</span>
										<a href="/jobs/{{i.slug}}" title="">APPLY NOW</a>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
				 	</div>
				 </div>
			</div>
		</div>
</section>
{% endblock %}